<h4>Nossos Cursos</h4>

<div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">@ViewData["nome"]</div>
  <div class="card-body">
    <h5 class="card-title">@ViewData["titulo"]</h5>
    <p class="card-text">@ViewData["descricao"]</p>
   
  </div>
  
  <div class="card-footer bg-transparent> 
    <p class="card-text">@ViewData["ch"]</p>
  </div>


</div>

